<!DOCTYPE html>
<html>
    <head>
        <title>CHAT APP</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <style>
          .btn a{
            text-decoration: none;
            color: white;
          }
        </style>
    </head>
    <body>
       <div class="container">
           <h1>WELCOME <%= username %> (ADMIN)</h1>
           <hr>
           <div class="btn btn-success">
             <a href="/index.html">GO BACK</a>
           </div>
           <hr>
           <form action="/addUser" method="get">
           <div class="form-group">
               <label for="username">ENTER USERNAME</label>
               <input type="text" class="form-control" id="username" name="username" required>
            </div>
            <button type="submit" class="btn btn-success">ADD</button>
            </form>
            <hr>
            <form action="/deleteUser" method="get">
              <div class="form-group">
                  <label for="username">ENTER USERNAME TO DELETE</label>
                  <input type="text" class="form-control" id="usernamedel" name="usernamedel" required>
               </div>
               <button type="submit" class="btn btn-danger">DELETE</button>
            </form>
               <hr>
            <h3><u>PEOPLE ADDED</u></h3>
          <table class="table table-striped">
              <thead>
                <tr>
                  <th>Serial Number</th>
                  <th>Name</th>
                </tr>
              </thead>
              <tbody>
          <% for(var i=0; i < data.length; i++) { %>
             <tr>
               <td><%= i+1%></td>
               <td><%= data[i] %></td>
             </tr>
          <% } %>
              </tbody>
          </table>
          <form action="/logout?_method=DELETE" method="post">
            <button type="submit" class="btn btn-success">LOGOUT</button>
          </form>
        </div>
    </body>
</html>